.mood-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.mood-container h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.mood-container .moods {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mood-container .moods button {
    width: 11rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #ffffff99;
    border: none;
    outline: none;
    border-radius: .3rem;
}

.mood-container .moods button:hover {
    background-color: #ffffffbb;
    cursor: pointer;
}