.search-bar {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0.2rem;
}

.search-bar input {
  width: 35rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin: 0.15rem;
  padding: 0 0.5em;
}

.search-bar button {
  background-color: #c4c4c4;
  color: black;
  border: none;
  outline: none;
  margin: 0.15rem;
  width: 4rem;
  border-radius: 0.2rem;
}
